extends layout

block content
  h1.main-heading game ideas
  p#markdown-reference-link
    |uses Markdown, see 
    a(href="#") reference
  textarea#idea(placeholder="Insert description")
  input(type="text", placeholder="Insert title")#idea-title
  input(type="submit", value="Submit")#submit.btn.btn-large.btn-primary

  #game-ideas
    each idea in ideas
      .idea
        include idea
