extends layout

block content
  h1.main-heading game ideas
  p#markdown-reference-link
    |uses Markdown, see
    a(href="#") reference
  textarea#idea(placeholder="Insert description")
  input(type="text", placeholder="Insert title")#idea-title
  input(type="submit", value="Submit")#submit.btn.btn-large.btn-primary

  each idea in ideas

    a.idea-title
      h2= idea.title
    div.well
      p.idea-body
        !{idea.body}
      p.time
        - if (typeof(idea.date) == "string"){
          = idea.date
        - } else {
          At #{idea.date.toLocaleTimeString().split(":").splice(0, 2).join(":")} on #{idea.date.toLocaleDateString()}
        - }
